.delete-account-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .delete-account-heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .account-id-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }
  
  .account-id-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .delete-account-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a23a4fee;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-account-button:hover {
    background-color: #c82333;
  }
  
  .error-message, .success-message {
    margin-top: 20px;
    font-size: 14px;
    color: #b5c3c94c;
  }
  
  .dashboard-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .dashboard-link:hover {
    color: #0056b3;
  }
  