.navbar {
  background-color: #3455db; /* Light blue background */
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #ecf0f1; /* Light gray text */
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #2980b9; /* Dark blue text on hover */
}

.logout-btn {
  margin-left: auto;
}
